.main-footer-section {
  .news-letter-content-input-sec {
    background: #a5bc6c;
    padding: 40px;
    border-radius: 30px;
    position: relative;
    margin-bottom: -140px;

    .inner-news-letter-content-input-sec {
      width: 50%;
      margin: 0px auto;
      .news-letter-head {
        h2 {
          font-size: 40px;
          font-style: italic;
          color: #fff;
          font-weight: 600;
          text-align: center;
        }

        p {
          font-size: 18px;
          color: #fff;
          font-weight: 600;
          text-align: center;
        }
      }

      .email-input-section-news {
        overflow: hidden;
        border-radius: 12px;
        margin-top: 30px;
        input {
          background: #fff;
          width: 100%;
          height: 60px;
          padding: 0px 20px;
          font-size: 18px;
          font-weight: 600;
        }
        button {
          position: absolute;
          right: 5px;
          top: 50%;
          height: calc(100% - 10px);
          padding: 0px 20px;
          border-radius: 10px;
          background: #9b4522;
          color: #fff;
          transform: translate(-0%, -50%);
          transition-duration: 0.3s;
          font-weight: 600;
          font-size: 18px;

          &:hover {
            background: #a5bc6c;
          }
        }
      }
    }

    &::after {
      content: "";
      top: 15px;
      right: 15px;
      width: 70px;
      height: 70px;
      position: absolute;
      background: url("../../assets/images/newsletter-pattern-image.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &::before {
      content: "";
      bottom: 15px;
      left: 15px;
      width: 70px;
      height: 70px;
      position: absolute;
      background: url("../../assets/images/newsletter-pattern-image.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .main-footer-navigation-outer {
    background: url("../../assets/images/footer-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0px 60px 0px;

    .main-footer-grid {
      .footer-logo {
        height: 120px;
        width: fit-content;
        margin-bottom: 20px;

        img {
          object-position: left;
        }
      }
      p {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        width: 80%;
      }
      .social-media-sec {
        margin-top: 30px;
        .single-social-media-icon {
          width: 30px;
          height: 30px;
        }
      }
      .footer-menu-grid-sec {
        gap: 35px 30px;
      }

      .single-footer-nav-menu {
        h4 {
          font-size: 20px;
          font-weight: 600;
          color: #fff;
        }

        .single-links-nav {
          margin-top: 25px;
          ul {
            display: flex;
            flex-direction: column;
            gap: 15px 0px;

            li {
              a {
                font-size: 16px;
                color: #fff;

                &:hover {
                  color: #a5bc6c;
                }
              }
              a.mobile-number {
                display: flex !important;
                gap: 10px !important;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
  .footer-copyright-section {
    padding: 20px 0px;
    background: #000;

    p {
      font-size: 16px;
      color: #fff;
      font-weight: 600;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 991.99px) {
    .main-footer-section {
        .main-footer-grid  {
            gap: 40px 0px !important;
            .col-span-4 , .col-span-8 {
                grid-column: span 12 / span 12;
            }
        }
    }
}

@media only screen and (max-width: 767.99px) {
  .main-footer-section {
    .news-letter-content-input-sec {
      .inner-news-letter-content-input-sec {
        .news-letter-head {
          p {
            font-size: 14px;

            br {
              display: none;
            }
          }

          h2 {
            font-size: 25px;
          }
        }
      }
    }

    .news-letter-content-input-sec {
      .inner-news-letter-content-input-sec {
        width: 80%;
        margin: 0px auto;
      }

      &::after ,&::before {
        width: 40px;
        height: 40px;
      }
    }

    .email-input-section-news {
      input {
        font-size: 16px !important;
        height: 50px !important;
        padding: 0px 16px !important;
      }
      button {
        padding: 0px 12px !important;
        border-radius: 8px;
        font-size: 14px !important;
      }
    }
  }
}


@media only screen and (max-width: 474.99px) {
.main-footer-section {
    .news-letter-content-input-sec {
      .inner-news-letter-content-input-sec {
        .news-letter-head {
          p {
            font-size: 14px;

            br {
              display: none;
            }
          }

          h2 {
            font-size: 25px;
          }
        }
      }
    }

    .news-letter-content-input-sec {
        padding: 20px;
      .inner-news-letter-content-input-sec {
        width: 100%;
        margin: 0px auto;
      }

      &::after ,&::before {
        display: none;
      }
    }

    .email-input-section-news {
      input {
        font-size: 16px !important;
        height: 50px !important;
        padding: 0px 16px !important;
      }
      button {
        padding: 0px 12px !important;
        border-radius: 8px;
        font-size: 14px !important;
      }
    }
  }
}
