.home-section-1 {
  background: url("../../assets/images/main-banner-home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0px 150px 0px;

  .inner-home-sec-1-content {
    h1 {
      font-size: 70px;
      line-height: 90px;
      color: #fff;
      font-weight: 600;
    }
    p {
      font-size: 22px;
      font-weight: 600;
      color: #fff;
      line-height: 36px;
    }

    .banner-buttons-section {
      margin-top: 40px;
      button {
        padding: 10px 30px;
        border-radius: 50px;
        font-size: 18px;
        &:hover {
          background: #9b4522;
          color: #fff;
        }
      }
      button.appointment-btn {
        color: #fff;
        font-weight: 600;
      }
    }
  }
}

.home-section-2 {
  padding: 100px 0px;

  .home-section-2-grid {
    gap: 0px 50px;
  }

  .signature-knowmore-section {
    margin-top: 40px;

    p {
      font-family: "Miss Fajardose", cursive !important;
      font-size: 40px;
      font-weight: normal;
    }
    p.role-sec {
      font-family: "Manrope", sans-serif !important;
      font-size: 14px;
      font-weight: 500;
      color: #656565;
    }
    p.dr-name {
      font-size: 18px;
      font-weight: 600;
      font-family: "Manrope", sans-serif !important;
    }
  }
}

.home-section-3 {
  padding: 100px 0px;
  background: url("../../assets/images/gray-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .slider-buttons {
    button {
      background: #fff;
    }
  }

  .home-section-3-grid {
    margin-top: 30px;
  }
}

.home-section-4 {
  padding: 100px 0px;

  .home-section-4-grid {
    margin-top: 40px;
    gap: 0px 50px;
  }

  .testimonial-content-sec {
    margin-bottom: 70px;
    p {
      font-size: 20px;
      font-weight: 500;
      color: #1f1f1f;
      line-height: 36px;
    }
  }
  .top-star-sec {
    margin-bottom: 16px;
  }
}

.right-know-more-sec {
  button {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 30px;
    border-radius: 30px;

    &:hover {
      background: #9b4522;
    }
  }
}
.block-content-section {
  h2 {
    font-size: 45px;
    color: #1f1f1f;
    font-weight: 600;
    span {
      color: #a5bc6c;
      font-style: italic;
    }
  }
  .block-cotent-para-sec {
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
    margin-top: 15px;

    p {
      font-size: 16px;
      color: #1f1f1f;
      line-height: 30px;
    }
  }
}

.top-block-tag {
  margin-bottom: 20px;
  p {
    font-size: 16px;
    padding: 6px 20px;
    border-radius: 30px;
  }
}

.slider-buttons {
  display: flex;
  align-items: center;
  gap: 0px 26px;

  button {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    i {
      font-size: 25px;
    }
    &:hover {
      background: #9b4522;
      color: #fff;
    }
  }
}

.bottom-reviewer-buttons-sec {
  .reviewer-details-sec {
    h4 {
      font-size: 22px;
      color: #1f1f1f;
      font-weight: 600;
    }
    p {
      font-size: 16px;
      font-style: italic;
    }
  }
}

.home-section-5 {
  padding: 100px 0px;
  background: url("../../assets/images/gray-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .home-section-5-grid {
    margin-top: 40px;
  }
}

.single-service-section {
  padding: 24px;

  .service-image-sec {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
  }
  .service-section-content {
    h4 {
      font-size: 20px;
      font-weight: 600;
      color: #1f1f1f;
      margin-bottom: 2px !important;
    }

    p {
      font-size: 16px;
      color: #1f1f1f;
      font-weight: 500;
      opacity: 80%;
      min-height: 72px;
    }
    .know-more-linear-btn {
      margin-top: 24px;
      button {
        font-weight: 500;
        i {
          line-height: 16px;
        }
      }
    }
  }
}

.home-section-6 {
  padding: 100px 0px;

  .home-section-6-accordian {
    margin-top: 40px;
  }

  .about-accordion {
    margin-bottom: 10px;
    overflow: hidden;
    padding: 16px 0px;
    border-bottom: 1px solid #dedede;
    transition: all 0.3s ease;
  }
  .about-accordion:last-child {
    border-bottom: none !important;
  }

  .about-accordion-header {
    background-color: transparent;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
  }

  .about-accordion-header h2 {
    color: #1f1f1f;
    font-size: 20px;
    font-weight: 500;
  }

  .about-accordion-content {
    overflow: hidden;
    max-height: 0;
    margin-top: 15px !important;
    transition: max-height 0.5s ease;
  }

  .about-accordion-content p {
    color: #1f1f1f;
    font-size: 16px;
  }

  .plus-icon-1,
  .plus-icon-2 {
    transform: translate(-50%, -50%);
    transform-origin: center;
    transition: all 0.6s;
  }

  .plus-icon-2.activer-plus {
    height: 0px;
  }

  .right-button {
    transition-duration: 0.6s;
    transform: rotate(0deg);
  }

  .right-button.activer-plus {
    transform: rotate(180deg);
  }
}

.home-section-7 {
  padding: 100px 0px;
  background: url("../../assets/images/contact-gray-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .home-section-7-grid {
    margin-top: 40px;

    .contact-form-section {
      .form-inputsec {
        input,
        textarea {
          background: #f6f6f6;
          padding: 12px 25px;
          border-radius: 10px;
          font-size: 16px;
          color: #101010;
          font-weight: 500;
          width: 100%;
        }
        textarea {
          border: none;
          resize: none;
          height: 120px;
        }
      }
      .bottom-form-submitter {
        button {
          padding: 6px 34px 6px 14px;
          border-radius: 50px;
          color: #fff;
          font-weight: 600;
          font-size: 18px;
          transition-duration: 0.3s;
          width: 100%;
          text-align: left;
          display: flex;
          align-items: center;
          gap: 10px;
          justify-content: center;

          &:hover {
            background: #9b4522;
          }
          i {
            color: #fff;
            font-size: 18px;
            transition-duration: 0.3s;
          }
        }
      }
    }
  }

  .address-number-timings-grid {
    margin-top: 30px;
    .similar-sec-7-timings-cols {
      background: #fff;
      border-radius: 25px;
      padding: 20px;

      h5 {
        font-size: 20px;
        font-weight: 500;
        font-family: "Plus Jakarta Sans", sans-serif !important;
      }

      p {
        font-size: 18px;
        font-weight: 400;
        color: #1f1f1f;
        font-family: "Plus Jakarta Sans", sans-serif !important;
      }
      a {
        font-size: 24px;
        font-weight: 400;
      }
    }
    .top-icon-label-sec {
      margin-bottom: 20px;

      .left-sec-7-icon {
        width: 40px;
        height: 40px;
      }
      h4 {
        font-size: 22px;
        font-weight: 600;
        color: #1f1f1f;
        letter-spacing: -3%;
      }
    }
  }
}

.home-section-8 {
  padding: 100px 0px;
  background: url("../../assets/images/contact-gray-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .home-section-8-grid {
    margin-top: 40px;

    .single-pricing-card-section {
      .top-pricing-price-sec {
        padding: 30px;
        border-bottom: 1px solid #cfcfcf;

        h4 {
          font-size: 22px;
          color: #1f1f1f;
          font-weight: 600;
        }
        h2 {
          font-size: 50px;
          color: #9b4522;
          transition-duration: 0.3s;
          font-weight: 700;
          span {
            font-size: 20px;
            font-weight: 400;
          }
        }
        p {
          color: #878787;
          font-size: 16px;
        }
        .right-know-more-sec {
          margin-top: 20px;
        }
      }
      &:hover {
        h2 {
          color: #a5bc6c;
        }
      }
    }

    .pricing-listing-section {
      padding: 30px;
      ul {
        display: flex;
        flex-direction: column;
        gap: 20px 0px;
        li {
          display: flex;
          gap: 10px;
          .left-check-mark {
            min-width: 12px !important;
            max-width: 20px !important;
            height: 20px !important;
          }
          p {
            font-size: 14px;
            color: #1f1f1f;
          }
        }
        li:last-child {
          p {
            color: #878787;
          }
        }
      }
    }
  }
}

.home-section-9 {
  padding: 100px 0px;

  .home-section-9-gallery {
    margin-top: 40px;

    .single-gallery-image-section {
      max-height: 280px;
      overflow: hidden;
    }
  }
}

@media only screen and (max-width: 991.99px) {
  .home-section-1 {
    padding: 110px 0px 110px 0px;
    .inner-home-sec-1-content {
      h1 {
        font-size: 50px;
        line-height: 64px;
      }
      p {
        font-size: 18px;
        font-weight: 500;
        line-height: 32px;
      }

      .banner-buttons-section {
        margin-top: 40px;
        button {
          padding: 8px 24px;
          font-size: 16px;
        }
      }
    }
  }

  .top-block-tag {
    margin-bottom: 10px;

    p {
      padding: 4px 20px;
      font-size: 14px;
    }
  }
  .home-section-2 {
    padding: 60px 0px;

    .home-section-2-grid {
      gap: 40px 0px;
      .similar-home-sec-2-cols {
        grid-column: span 12 / span 12;
      }
      .home-sec-2-left-col {
        height: 600px;
        
        img {
          object-fit: cover;
          object-position: top;
        }
      }
    }

    .signature-knowmore-section {
      margin-top: 40px;

      p {
        font-family: "Miss Fajardose", cursive !important;
        font-size: 40px;
        font-weight: normal;
      }
      p.role-sec {
        font-family: "Manrope", sans-serif !important;
        font-size: 14px;
        font-weight: 500;
        color: #656565;
      }
      p.dr-name {
        font-size: 18px;
        font-weight: 600;
        font-family: "Manrope", sans-serif !important;
      }
    }
  }
  .home-section-4 {
    .home-section-4-grid {
      gap: 30px 0px;
      .similar-home-sec-4-cols {
        grid-column: span 12 / span 12;
      }
      .left-home-sec-4 {
        height: 300px;

        img {
          object-fit: cover;
          object-position: top;

        }
      }
    }
  }

  .home-section-5 {
    .home-section-5-grid {
      .single-service-section  {
        grid-column: span 6 / span 6;
      }
    }
  }

  .home-section-7 {
    .home-section-7-grid  {
      gap: 24px;
      .similar-home-sec-7-cols {
        grid-column: span 12 / span 12;
      }
      .map-contact-section  {
        iframe {
          height: 300px !important;
        }
      }
    }
    .address-number-timings-grid {
      .similar-sec-7-timings-cols {
        grid-column: span 6 / span 6;
      }
    }
  }

  .block-content-section {
    h2 {
      font-size: 35px;
      br {
        display: none;
      }
    }
  }
}


@media only screen and (max-width: 674.99px) {
  // .home-section-2 .signature-knowmore-section p {
  //   font-family: "Miss Fajardose", cursive !important;
  //   font-size: 30px;
  //   font-weight: normal;
  // }

 .home-section-1 {
    .inner-home-sec-1-content {
      h1 {
        font-size: 35px;
        line-height: 50px;
        br {
          display: none;
        }
      }
      p {
        font-size: 16px;
        line-height: 30px;

        br {
          display: none;
        }
      }
    }
  }

  .home-section-2 {
    .signature-knowmore-section {
      p.role-sec {
        font-size: 12px;
      }
      p.dr-name {
        font-size: 16px;
      }
      p {
        font-size: 30px;
      }
    }
  }

  .block-content-section {
    h2 {
      font-size: 30px;
    }
    .block-cotent-para-sec {
    margin-top: 8px !important;
  }
  }
  .right-know-more-sec {
    button {
      padding: 6px 20px;
    }
  }
  .slider-buttons {
    button {
    width: 40px;
    height: 40px;
     i {
    font-size: 20px;
  }
  }


 
  }
    .heading-slider-buttons-sec  {
    flex-wrap: wrap;
    gap: 20px 0px;
  }
    .about-accordion-header {
    .right-button {
      width: 16px !important;
      height: 16px !important;
    }

  }

   .home-section-7 {
    .home-section-7-grid  {
      gap: 24px;
      .bottom-form-submitter   {
        grid-column: span 8 / span 8;
      }
      .similar-home-sec-7-cols {
        grid-column: span 12 / span 12;
      }
      .map-contact-section  {
        iframe {
          height: 300px !important;
        }
      }
    }
    .address-number-timings-grid {
      .similar-sec-7-timings-cols {
        grid-column: span 12 / span 12;
      }
    }
  }
}



@media only screen and (max-width: 474.99px) {
  .home-section-5 {
    .home-section-5-grid {
      .single-service-section  {
        grid-column: span 12 / span 12;
      }
    }
  }

  .home-section-4 {
    .testimonial-content-sec {
      p {
        font-size: 18px;
      }
    }
  }
  .home-section-3 , .home-section-4 , .home-section-5 , .home-section-6, .home-section-7 , .home-section-8 , .home-section-9{
    padding: 50px 0px;
  }

  .home-section-6 {
    .about-accordion-header {
      h2 {
        font-size: 18px;
      }
    }
  }
  .home-section-7 {
    .address-number-timings-grid {
      .top-icon-label-sec {
        .left-sec-7-icon {
          width: 30px ;
          height: 30px;
        }
        h4 {
          font-size: 20px;
        }
      }
      .similar-sec-7-timings-cols {
        a {
          font-size: 20px;
        }
        h5 {
          font-size: 18px;
        }
      }
    }
  }
}