.main-contact-section {
    .home-section-7 {
        background: #F6F6F6 !important;
    }
}


@media only screen and (max-width: 991.99px) {
    .map-contact-section {
        border-radius: 20px 20px 0px 0px !important;
    }
}