.main-blog-section {
    background: #F6F6F6;

    .blog-section-1 {
        padding: 100px 0px;
        
        .blogs-cards-sec {
            h4 {
                margin-bottom: 15px !important;
            }
        }
    }
}

.blog-single-section-1 {
    padding: 100px 0px;
}