.main-header-section {
    // overflow: hidden;
    // overflow-y: auto !important;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    border-bottom: 1px solid #1f1f1f30;
    z-index: 99;
    .inner-header-section {
        padding: 15px 0px;

        .abs-services-mega-menu-sec {
            position: absolute;
            width: 90%;
            padding: 15px;
            background: #F6F6F6 ;
            border-radius: 16px;
            gap: 15px;
            transform: translate(-50% , 20%);
            visibility: hidden;
            opacity: 0;
            transition-duration: 0.3s;
            left: 50%;
            max-height: 300px;
            overflow: hidden;
            overflow-y: auto !important;
            z-index: 999;
            box-shadow: 0px 0px 25px 1px #00000029;

            a {
                padding: 8px 12px;
                background: #fff;
                border-radius: 10px;

                p {
                    font-weight: 500;
                }
            }

            a.active {

            }
        }

        .abs-services-mega-menu-sec.active {
            visibility: visible;
            opacity: 100%;
             transform: translate(-50% , 10%);
            // transform: translateY(40px);
        }
    }
    .header-grid-section {
        .left-header-logo {
            height: 60px;
            width: fit-content;
        }
        .desktop-menu-section {
            li { 
                a.active {
                    color: #9b4522 !important;
                }
            }
        }
        .header-navigation-menu {
            li {
                a {
                    font-size: 16px;
                    font-weight: 500;
                    color: #1f1f1f
                }
            }

            .parent-menu-sec {
                position: relative;

                i {
                    transition-duration: 0.3s;
                }

                &:hover i {
                    transform: rotate(180deg);
                }
            }
        }
        .get-appointment-btn {
            button {
                font-size: 16px;
                font-weight: 600;
                color: #fff;
                padding: 10px 25px;
                border-radius: 30px;

                &:hover {
                    background: #9b4522;
                }
            }
        }
    }

    .mobile-header-overlay , .mobile-header-menu , .mobile-menu-button {
        display: none;
    }
}



@media only screen and (max-width: 991.99px) {
    .main-header-section {
        .desktop-menu-section , .get-appointment-btn{
            display: none;
        }
        .mobile-header-overlay , .mobile-header-menu , .mobile-menu-button {
            display: block !important;
        }
        .mobile-header-overlay {
            position: fixed;
            background: #00000067;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 99;
            visibility: hidden;
            opacity: 0;
            transition-duration: 0.5s;
        }
        .mobile-header-menu {
            position: fixed;
            background: #fff;
            width: 300px;
            height: 100%;
            right: -100%;
            top: 0;
            z-index: 999;
            transition-duration: 0.5s;
            
            .top-back-icon-mobile {
                button {
                    padding: 10px 20px;
                }
            }

            a {
                width: 100% !important;
                padding: 10px 20px !important;
                transition-duration: 0.3s;

                &:hover {
                    background: #00000029;
                }
            }
            a.active {
                background: #A5BC6C !important;
                color: #fff !important;
            }
        }
        .mobile-header-menu.active {
            right: 0;
        }

        .mobile-header-overlay.active {
            visibility: visible;
            opacity: 100%;
        }
        .header-grid-section {
            .left-header-logo {
                height: 45px;
            }
        }
        .abs-services-mega-menu-sec {
            display: none;
        }
    }
}