.main-services-section {
    background: #F6F6F6;
    .services-section-1 {

        padding: 100px 0px;

        .right-search-services-section {
            .abs-icon-search {
                left: 15px;
                top: 50%;
                transform: translate(-0% , -50%);
            }
            input {
                padding: 10px 25px 10px 50px;
                border-radius: 10px;
            }
        }

        .services-list-grid-section {
            margin-top: 40px;

            .sub-services-list-section {
                ul {
                    list-style: disc !important;
                    padding-left: 15px !important;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                     li {
                        font-size: 14px;
                        font-family: "Plus Jakarta Sans", sans-serif !important;
                     }
                }
            }
        }
    }
}

.singleservice-main-section {
    background: #F6F6F6;

    .single-service-section-1 {
        padding: 100px 0px;

        .single-service-content-section {
             .top-image-section-single-service {
                    img {
                        max-height: 400px;
                        object-fit: cover;
                    }
                }
            .single-service-content-sec-inner {
                padding: 30px;

                .highlight-points-sec {
                    padding: 20px;
                    border-radius: 15px;
                    background: #F4F4F4;

                    h4 {
                        margin-bottom: 10px !important;
                    }
                }

                h2 {
                    font-size: 24px;
                    font-weight: 600;
                    color: #000;
                }

                p {
                    font-size: 16px;
                    color: #000;
                    line-height: 26px;
                }

                h4 {
                    font-size: 18px;
                    font-weight: 600;
                    color: #9B4522;
                }

                h3 {
                    font-size: 22px;
                    color: #9B4522;
                    font-weight: 600;
                }

                h5 {
                    font-size: 18px;
                    color: #000;
                    font-weight: 600;
                }

                ul {
                    list-style: disc !important;
                    padding-left: 15px;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    li {
                        font-size: 14px;
                        color: #000;
                    }
                }
                
            }
        }
    }


}



@media only screen and (max-width: 991.99px) {
    .main-services-section {
        .services-list-grid-section {
            .single-service-section {
                grid-column: span 6 / span 6;       
            }
        }
    }
}


@media only screen and (max-width: 574.99px) {
    .main-services-section {
        .services-section-1 {
            padding: 60px 0px;
        }
        .services-list-grid-section {
            .single-service-section {
                grid-column: span 12 / span 12;       
            }
        }

        .right-search-services-section {
            input {
                min-width: auto !important;
            }
        }
    }
}